<%- include('header') %>
 


    <div class="result" >
       <% if(error) {%>
            <%= error %>
        <% }else { %>
            <%= quantidade %>
             de Dolares na Cotação 
             <%= cotacao %> 
             é igual a: 
             <%= conversao %> Dolares
        <% } %>

    </div>


<%- include('footer') %>